.nav-link:hover{
    color: white;
}
.nav-link{
    color:#D4B25E;
    font-family: Impact, fantasy;
    font-weight: 900;
    font-size: 30px;
    margin-right:170px; 
    margin-left: 30px;
    text-shadow: 2px 5px 5px black;

}

header{
    padding: 20px;

}

#menu{
    box-shadow: black;
    border: 3px solid black;
    padding: 10px;

}



#btn_search{
    background-color:#444444;
    border-radius: 70px;
    border: 3px solid black;

}

#btn_search:hover{
    background-color:white;
    color:black;
    

}


#search_input {
    width: 400px;
    max-width: 100%;
    background-color:#D4B25E;
    font-style: italic;
    border-radius: 70px;
    border: 3px solid black;

}

#logo{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

#logo img{
    border-radius: 70px;
    justify-content: center;
    max-height: 200px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}


#logo h1{
    color: #D4B25E;
    font-family:"Lucida Handwriting", cursive;
    font-weight: 900;
    font-style: italic;
    font-size: 100px;
    flex: 1;
    margin-left: 30px;
}